@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Clientes Cadastrados";
}

<div class="p-5">
    <div class="border border-light border-3 rounded">
        <div class="container">
            <div class="p-5">
                <div class="row">
                    <div class="col-8">
                        <h6>Clientes cadastrados</h6>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-sm btn-outline-success novoCliente">Novo Cliente</button>
                    </div>
                </div>

                <hr />
                        </div>
        </div>
    </div>
</div>
</div>

                <div class="p-5 rounded shadow-sm" id="divTabela">

               

    
        <div id="modal" class="modal fade" role="dialog">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title"></h6>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" class="form-control form-control-sm clienteId" />
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" class="form-control form-control-sm nome" />
                            <span class="text-danger erroCliente d-none"></span>
                        </div>

                        <div class="form-group">
                            <label>Tipo de Cliente</label>
                            <input type="hidden" class="form-control form-control-sm tipoCliente" />
                        </div>

                        <div class="form-group">
                            <label>Nome do contato</label>
                            <input type="text" class="form-control form-control-sm nomeContato" />
                            <span class="text-danger erroNome d-none">Digite um Nome</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefone de Contato</label>
                        <input type="text" class="form-control form-control-sm telefoneContato" />
                        <span class="text-danger erroTelefone d-none">Digite um telefone</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Cidade</label>
                    <input type="text" class="form-control form-control-sm cidade" />
                    <span class="text-danger erroCidade d-none">Digite uma cidade</span>
                </div>
            </div>
            <div class="form-group">
                <label>Bairro</label>
                <input type="text" class="form-control form-control-sm bairro" />
                <span class="text-danger erroBairro d-none">Digite um Bairro</span>
            </div>
        </div>
        <div class="form-group">
            <label>Logradouro</label>
            <input type="text" class="form-control form-control-sm logradouro" />
            <span class="text-danger erroProfissao d-none">Digite um CEP</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="button" value="Salvar" class="btn btn-sm btn-outline-success btnSalvar" />
            <input type="button" value="Cancelar" class="btn btn-sm btn-light" data-bs-dismiss="modal" />
        </div>
    </div>
</div>
    </div>

</div>
    </div>
</div>
 </div>

@section scripts{
    <script>
        $(document).ready(function(){
            carregarDados();
        });

        function carregarDados(){
            $.ajax({
                url: "Clientes/PegarClientes",
                method: "GET",
                sucess: function(clientes){
                    montarTabela(clientes);
                }

            });
        }
         $(".novoCliente").click(function () {
            escolherTituloModal("Cadastro de novos clientes");
            mostrarModal();
            limparModal();
            $('.clienteId').val(0);
        });

        $(".btnSalvar").click(function (){
            var clientes = {
                clienteId: $('.clienteId').val(),
                cliente: $('.cliente').val(),
                nomeContato: $('.nomeContato').val()
            };



        })

        function escolherTituloModal(texto){
            $(".modal-title").text(texto);
        }
        function mostrarModal(){
            new bootstrap.Modal($("#modal"), {}).show();
        }

        function limparModal(){
            $(".clienteId").val('');
            $(".cliente").val('');
            $(".tipoCliente").val('');
            $(".nomeContato").val('');
            $(".telefoneContato").val('');
            $(".cidade").val('');
            $(".bairro").val('');
            $(".logradouro").val('');

        }
        function montarTabela(clientes){
            var indice = 0;
            var divTabela = document.getElementById("divTabela");
            var tabela = '<table class="table table-sm table-hover table-striped tabela">';
            tabela += '<thead>';
            tabela += '<tr>';
            tabela += '<th>Cliente</th>';
            tabela += '<th>TelefoneContato</th>';
            tabela += '<th>Cidade</th>';
            tabela += '<th>Bairro</th>';
            tabela += '<th>DataCadastro</th>';
            tabela += '<th>DataAtualizacao</th>';
            tabela += '</tr>';
            tabela += '</thead>';
            tabela += '<tbody>';

            for(indice = 0; indice < clientes.lenght; indice++){
                tabela += `<tr> id="${clientes[indice].clienteId}">`;
                tabela += `<td>${clientes[indice].cliente}</td>`;
                tabela += `<td>${clientes[indice].telefoneContato}</td>`;
                tabela += `<td>${clientes[indice].cidade}</td>`;
                tabela += `<td>${clientes[indice].bairro}</td>`;
                tabela += `<td>${clientes[indice].dataCadastro}</td>`;
                tabela += `<td>${clientes[indice].dataAtualizacao}</td>`;
                tabela += `<td><button class="btn btn-sm btn-outline-info" onclick="PegarClientesPeloId(${clientes[indice].clienteId})">Atualizar</button> </td>
                        <button class="btn btn-sm btn-outline-danger" onclick="ExcluirClientes(${clientes[indice].clienteId})">Excluir </button> `;
                tabela += '</tr>'
            }
            tabela += '</tbody>';
            tabela += '</table>';

            divTabela.innerHTML = tabela;
        }

       

    </script>
}

